/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: "Work Sans";
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}
section {
	margin: 50px 0;
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: "Syne";
	font-size: 22px;
	font-weight: 800;
	color: #b1663c;
}

h1 > span {
	font-family: "Work Sans";
	font-size: 10px;
	letter-spacing: 0.1em;
}

h2 {
	font-family: "Syne";
	font-weight: 700;
	font-size: 30px;
	color: #1d6154;
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #b1663c;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1;
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1;
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}
#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;
}
#contact h2 {
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: "Syne";
	font-weight: 700;
	color: white;
	background-color: #1d6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}

/* || Mes modifications || */

/*** index.html ***/
/* Couleur fond */
html {
	background-color: #fffef8;
}

body {
	min-height: 100vh;
	max-width: none;
	margin: 0;
	display: flex;
	flex-direction: column;
}

header,
main,
footer {
	width: 100%;
	max-width: 1140px;
	margin-left: auto;
	margin-right: auto;
}

/* Bannière Mode édition */
#edit-mode-banner {
	width: 100%;
	height: 50px;
	margin: 0;
	position: fixed;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

#edit-mode-banner .fa-pen-to-square {
	color: white;
}

#edit-mode-banner p {
	color: white;
}

/* Liens nav top */
header nav a,
header nav a:focus,
header nav a:active {
	color: inherit;
	text-decoration: none;
}

header nav a.active {
	font-weight: bold;
}

header nav ul {
	gap: 15px;
}

/* Icône Instagram */
header nav img {
	width: 20px;
	height: 20px;
}

/* Test "modifier" à côté de "Mes projets" */
#title-and-edit {
	display: flex;
	align-items: center;
}

#title-and-edit h2 {
	width: fit-content;
	margin-left: calc(50% - 96px);
}

#edit-mode {
	color: inherit;
	text-decoration: none;
	margin-left: 30px;
}

#edit-mode i {
	padding-right: 10px;
}

/* Menu des catégories */
#categories-menu {
	font-size: 30px;
	margin-bottom: 1em;
	display: flex;
	gap: 10px;
	justify-content: center;
}

button {
	-webkit-appearance: none;
	border-radius: 0;
	text-align: inherit;
	background: none;
	box-shadow: none;
	padding: 0;
	cursor: pointer;
	border: none;
	color: inherit;
	font: inherit;
}

.category-button {
	font-family: "Syne";
	font-size: 16px;
	color: #1d6154;
	border: 1px solid #1d6154;
	border-radius: 60px;
	padding: 9px 29px;
}

.category-button.active {
	color: #ffffff;
	background-color: #1d6154;
}

/* Fenêtre modale */
.modal {
	position: fixed;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
}

.modal-wrapper {
	width: 570px;
	margin: auto auto;
	background-color: #ffffff;
	border-radius: 10px;
	padding: 30px;
}

#modal-gallery-view,
#modal-upload-view {
	width: 100%;
	height: 100%;
	flex-direction: column;
	align-items: center;
}

.modal-navigation {
	width: 100%;
	display: flex;
}

.modal-close {
	width: fit-content;
	font-size: 24px;
	margin-left: auto;
}

#modal-title {
	text-align: center;
	font-size: 25px;
	margin-top: 10px;
}

/* Photos modale */
.modal-gallery {
	display: flex;
	flex-wrap: wrap;
	align-items: start;
	overflow: scroll;
	margin-top: 45px;
	margin-bottom: 40px;
	padding-bottom: 65px;
	column-gap: 10px;
	row-gap: 30px;
	width: 72%;
	border-bottom: 1px solid #b3b3b3;
}

.modal-gallery figure {
	width: 18%;
	position: relative;
}

.modal-gallery img {
	width: 100%;
	display: block;
}

.delete-work {
	position: absolute;
	top: 6px;
	right: 5px;
	text-align: center;
	background-color: #000000;
	border-radius: 2px;
}

.fa-trash-can {
	margin: 3px 4px;
	font-size: 11px;
	color: #ffffff;
}

.add-picture {
	width: 41%;
	height: 36px;
	font-size: 14px;
	text-align: center;
	color: #ffffff;
	background-color: #1d6154;
	border-radius: 60px;
	margin: 0 auto 10px auto;
}

/* Ajout photo modale */
.add-work-form {
	width: 73%;
	margin-top: 35px;
}

#border-container {
	display: flex;
	flex-direction: column;

	margin-bottom: 30px;
	padding-bottom: 50px;
	border-bottom: 1px solid #b3b3b3;
}

.picture-upload-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 170px;
	background-color: #e8f1f6;
	border-radius: 3px;
}

.fa-image {
	font-size: 70px;
	color: #b9c5cc;
	margin-top: 15px;
}

#file-preview {
	height: 100%;
	object-fit: contain;
}

#upload-picture {
	display: none;
}

#upload-label {
	margin-top: 10px;
	padding: 10px 30px;
	color: #306685;
	background-color: #cbd6dc;
	border-radius: 50px;
}

#upload-message {
	flex-grow: 1;
	font-size: 10px;
	margin-top: 10px;
	text-align: center;
	color: #444444;
}

#work-title-label {
	margin-top: 30px;
	margin-bottom: 10px;
}

#work-title {
	height: 50px;
	border: 0px;
	padding: 0 15px 0 15px;
	filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.09));
}

#work-category-label {
	margin-top: 20px;
	margin-bottom: 10px;
}

#work-category {
	height: 50px;
	border: 0px;
	padding: 0 15px 0 15px;
	background-color: #ffffff;
	filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.09));
}

.confirm-upload {
	display: block;
	width: 41%;
	height: 36px;
	font-size: 14px;
	text-align: center;
	color: #ffffff;
	background-color: #a7a7a7;
	border-radius: 60px;
	margin: 0 auto 20px auto;
}

.confirm-upload:enabled {
	background-color: #1d6154;
}

/* Projets */
.gallery figcaption {
	padding-top: 5px;
}

/* Footer */
footer {
	margin-top: auto;
	background-color: #ffffff;
}

/*** login.html ***/
.login {
	width: 380px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

.login h2 {
	text-align: center;
	margin-top: 100px;
	margin-bottom: 1em;
}

.login label {
	margin-bottom: 8px;
}

#email,
#password {
	height: 50px;
	border: 0px;
	background-color: white;
	filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.09));
}

#email {
	margin-bottom: 20px;
}

#connect {
	height: 36px;
}

.login p {
	color: red;
	text-align: center;
	margin-top: 20px;
}

.login a {
	text-align: center;
}
